useful-moonshine-onnx@git+https://git@github.com/usefulsensors/moonshine.git#subdirectory=moonshine-onnx
sounddevice
psutil
rich
soundfile
jiwer
onnxruntime
flask
flask_socketio
python-socketio[client]
cryptography
numpy
